db.sqlite3
baemin_sample/
*/__pycache__/
media/
secrets.json
baeminsite/settings.py

bin/
include/
lib/
*.py[cod]
*.sqlite3 
pip-selfcheck.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
