{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE2lA95R7-S3lVazAqyNsHZ8ywxAz059pNkYyV6s2ePqrzzY2k" alt="">
      </div>
      <div class="jumbotron text-center">
        <h1>Contact</h1>
        <br><br>
        <p class="lead">
          e-mail : nldaseul@gmail.com
        </p>
    </div>
  </div>
</div>
{% endblock%}
