{% extends "base.html" %}
{% block body %}
  {% include "navbar.html" %}
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
          {% for partner in partner_list %}
            <div class="col-sm-4">
              <h4>{{ partner.name }}</h4>
              <div>{{ partner.contact }}</div>
              <div>{{ partner.address }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock%}
