{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<br>
<br>
<br>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h2>메뉴 {% if replacement %}{{ replacement }}{% else %}추가{% endif %}하기</h2>
    <form enctype="multipart/form-data" method="post" action="">
      {% csrf_token %}
      <div>
        {{ form }}
      </div>
      <button class="btn btn-default btn-block">
        메뉴 {% if replacement %}{{ replacement }}{% else %}추가{% endif %}하기
      </button>
    </form>
  </div>

</div>
{% endblock %}
